server {
    listen 80 default;
    server_name localhost;
    index index.html index.htm;
    access_log off;

    location / {
        return 444;
    }

    location /nginx_status {
        stub_status on;
        auth_basic "nginx status";
        allow 127.0.0.1;
        deny all;
    }
}

#--------------------------访问结果例子-------------------#
#Active connections: 1                  #活跃的连接数量
#server accepts handled requests        #
# 20255 20255 22899                     #总共处理了XXX个连接 , 成功创XXX次握手, 总共处理了XXX个请求
#Reading: 0 Writing: 1 Waiting: 0       #读取客户端的连接数，响应数据到客户端的数量，开启 keep-alive 的情况下这个值等于 active – (reading+writing),

